body {
    display: flex;
    flex-direction: column;
    font-family: 'roboto';
}

.header-hero {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: #f9faf8;
}

.hero {
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;   
}

.left-hero {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin-left: 150px;
    margin-right: 150px;
    font-family: 'roboto';
}

a {  
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    margin: 0;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    padding: 0;
    margin: 0;
    margin-right: 30px;
}

.hero-sec {
    padding: 0;
    margin: 0;
    margin-right: 30px;
    font-family:'roboto';
}

.hero-button {
    flex: none;
    align-self: flex-start;
    padding: 5px 20px 5px 20px;
}

button {
    background-color: #3882f6;
    color: white ;
    border-radius: 7px;
    border-color: #1f2937;
}

img {
    flex: 1;
    margin: 0;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 150px;
    margin-left: 150px;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    gap: 20px; 
}

.info {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.quote-sec {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
}

.quote {
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 0;
    font-size: 36px;
    color: #1f2937;
    font-style: light italic;
}

.bob {
    margin-right: 250px;
    margin-top: 0;
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    font-size: 36px;

}

.call-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220px;
}

.call {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    background-color: #3882f6;
    color: white;
    border-radius: 6px;
    padding: 10px 30px 10px 30px;
}

.call-text {
   display: flex; 
   flex-direction: column;
   align-items: flex-start;
   margin: 0;
   gap: 10px;

}

.call-button {
    border-color: white;

}

.footer {
    background-color: #1f2937;
    text-align: center;
    color: white;
    padding: 40px;
    margin: 0;
}


